<nav class="navbar">
  <div class="navbar-logo">PEL<span>A</span>TRO</div>
  <ul class="navbar-links">
    <li>
      <a
        href="../../../assets/Files/part-r-00000"
        download="PerformanceReport.txt"
        *ngIf="isAdmin"
      >
        <button btn color="primary">Download Report</button>
      </a>

      <a (click)="logout()"><button btn color="primary">Logout</button></a>
    </li>
  </ul>
  <div class="navbar-menu-icon">
    <i class="fas fa-bars"></i>
    <!-- FontAwesome Icon -->
  </div>
</nav>
