<div class="container">
  <!-- Header Section -->
  <div class="header">
    <h1>View Employee Details</h1>
  </div>

  <!-- Main Content -->
  <div class="content">
    <div class="left-section">
      <!-- Employee Profile Picture -->
      <div class="profile-card">
        <img
          [src]="profilePictureUrl"
          alt="Employee Image"
          class="employee-image"
        />
      </div>
      <!-- Performance Report (Initially Hidden) -->
      <div class="report-card">
        <h2>Performance Report</h2>
        <p><strong>Last Updated:</strong> {{ asOfDate }}</p>
        <div class="charts-container">
          <canvas id="performanceChart"></canvas>
        </div>
      </div>
    </div>

    <!-- Right Section for Employee Details and Report -->
    <div class="right-section">
      <!-- Employee Details -->
      <div class="details-card">
        <h2>Employee Details</h2>
        <p><strong>Employee ID:</strong> PEL{{ employee.id }}</p>
        <p><strong>First Name:</strong> {{ employee.firstName }}</p>
        <p><strong>Last Name:</strong> {{ employee.lastName }}</p>
        <p><strong>Phone Number:</strong> {{ employee.phone }}</p>
        <p><strong>Joining Date:</strong> {{ employee.joiningDate }}</p>
        <p><strong>Email ID:</strong> {{ employee.emailId }}</p>
        <p><strong>Role:</strong> {{ employee.role }}</p>
        <p>
          <strong>Department:</strong>
          {{ employee.department.departmentName }}
        </p>
        <p><strong>Department ID:</strong> {{ employee.department.id }}</p>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="footer">
    <button (click)="backToEmployeeList()" class="btn-back">
      Back to Employee List
    </button>
  </div>
</div>
