<div class="custom-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2
      class="page-title font-weight-bold"
      style="color: #b85042; font-size: 2rem; margin-bottom: 0"
    >
      Employee List
    </h2>
    <div class="search">
      <input
        type="text"
        name="search"
        [(ngModel)]="searchText"
        placeholder="Search by first name, last name, or email"
        class="form-control rounded-pill shadow-sm"
        style="
          margin-right: 8rem;
          width: 320px;
          height: 40px;
          border: 1px solid #ced4da;
          font-size: 1rem;
        "
        (input)="onSearch()"
      />
    </div>
  </div>

  <!-- Container for employee list and pagination -->
  <div class="employee-list-container">
    <div class="row">
      <div
        *ngFor="let employee of paginatedEmployees"
        class="col-lg-3 col-md-4 col-sm-6 mb-4"
      >
        <div class="card small-card">
          <span
            class="material-icons"
            style="font-size: 100px; color: #2c3e50; text-align: center"
          >
            account_circle
          </span>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">
              PEL{{ employee.id }}
            </h5>
            <p class="card-text">
              <strong>Name:</strong> {{ employee.firstName }}
              {{ employee.lastName }}
            </p>
            <p class="card-text">
              <strong>Email:</strong> {{ employee.emailId }}
            </p>
            <p class="card-text">
              <strong>Department:</strong>
              {{ employee.department.departmentName }}
            </p>
          </div>
          <div class="card-footer">
            <button (click)="updateEmployee(employee.id)" class="btn btn-info">
              Update
            </button>
            <button
              (click)="deleteEmployee(employee.id)"
              class="btn btn-danger"
              style="margin-left: 10px"
            >
              Delete
            </button>
            <button
              (click)="viewEmployee(employee.id)"
              class="btn btn-primary"
              style="margin-left: 10px"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination Buttons (Fixed at left and right) -->
</div>

<div class="pagination-buttons">
  <button
    class="btn btn-secondary"
    (click)="prevPage()"
    [disabled]="currentPage === 1"
  >
    &lt;
  </button>
  <button
    class="btn btn-secondary"
    (click)="nextPage()"
    [disabled]="currentPage * itemsPerPage >= filteredEmployees.length"
    style="margin-right: 100px"
  >
    &gt;
  </button>
</div>
